<ion-header no-border>
  <ion-toolbar color="dark">
    <ion-title>
      Pendientes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">

  <app-listas>
    
  </app-listas>
  <ion-list color="dark">
    <ion-item *ngFor="let lista of listas" detail color="dark" (click)="listaSeleccionada(lista)">      
      <ion-label>{{lista.titulo}}</ion-label>

      <ion-note color="tertiary" slot="end">{{lista.items.length}} items</ion-note>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="tertiary">
      <ion-icon name="add" (click)="agregarLista()">

      </ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>